{%extends "BaseLayoutView.html" %}
{%block localjavascript %}
<script type='text/javascript' src='/module/category/view/js/category.js'></script>
<script type="text/javascript">
$(document).ready(function(){
	;
});
</script>
{%endblock%}
{%block contentzone %}
{%if model.num_records == 0%}
No communities found<br>
{%endif%}
<form method="POST" action="/community/search/">
Search: <input name="terms" type='text' id='terms' value="{{model.terms}}">
<input type='radio' name='sort' value='alphabetical' {%if model.sort = 'alphabetical' %}checked{%endif%}> Alphabetical
<input type='radio' name='sort' value='articles' {%if model.sort = 'articles' %}checked{%endif%}> Number of Articles
<input type='radio' name='sort_order' value='ascending' {%if model.sort_order = 'ascending' %}checked{%endif%}> Ascending
<input type='radio' name='sort_order' value='descending' {%if model.sort_order = 'descending' %}checked{%endif%}> Descending
<input type="submit" value="Go">
</form>

{% for category in model.categories %}
<br><a href="/community/{{category.name}}">{{category.name}}</a> : ({{category.number_of_articles}} articles)
{%endfor%}
<br>
{%if model.page > 1 %}
<a href="/community/search/{{model.terms}}/{{model.sort}}/{{model.sort_order}}/{{model.previouspage}}">Previous</a>
{%endif%}

{%if model.num_records = model.limit %}
<a href="/community/search/{{model.terms}}/{{model.sort}}/{{model.sort_order}}/{{model.nextpage}}">Next</a>
{%endif%}

{%endblock%}
{%block rcontent %}
{%include "ad.html" %}
{%include "google_analytics.html" %}

{%endblock%}