{% extends "BaseLayoutView.html" %}
{%block localcss %}
<link rel="stylesheet" href='/module/comments/view/css/comments.css' type="text/css" media="screen,projection" />
<link rel="stylesheet" href='/module/article/view/css/article.css' type="text/css" media="screen,projection" />
{% endblock %}
{%block localjavascript %}
<script type="text/javascript" src="/module/comments/view/js/comments.js"></script>
<script type="text/javascript" src="/module/question/view/js/webservice.js"></script>
<script type="text/javascript" src="/module/question/view/js/question.js"></script>
<script src="/module/home/view/js/home.js" type="text/javascript"></script>
<script type="text/javascript">
var controller=null;

$(document).ready(function(){
	var i=0;
	hc = new HomeController();
	hc.data.user.username={%if model.user.username %}'{{model.user.username}}'{%else%}false{%endif%};
	hc.init();
	qc = new QuestionController();
	qc.data.user.username=hc.data.user.username;
	qc.init();
   	commentscontroller = Commentscontroller();
   	commentscontroller.data.article_key='{{model.article.key}}';
   	commentscontroller.data.comment_key='{%if model.comment_key %}{{model.comment_key}}{%else%}null{%endif%}';
   	commentscontroller.data.user.username=hc.data.user.username;
   	commentscontroller.data.user.isadmin={%if model.user.username and model.user.isadmin %}true{%else%}false{%endif%};
   	commentscontroller.init();
   	commentscontroller.getcomments();
   	
});

</script>
{% endblock %}
{% block contentzone %}
{% with article=model.article %}
	{%include "module/article/view/article_meta.html" %}
	{%if model.user.isadmin %}
		{%include "module/article/view/article_admin.html" %}
	{%endif%}
{% endwith %}
<span>
Make a comment
</span>
<textarea id='comment'></textarea><br>
<button id='btn_save_comment'>Save</button>
<div>
<div id='comments'>
<div itemscope itemtype="http://schema.org/UserComments" class="comment">
<div class="children" id="children"></div>
</div>
</div>
<a id='more_comments'>More comments...</a>
</div>
{% endblock %}
{%block rcontent %}
{% with userstats=model.leaderboard title="{Top Users}" %}
	{%include "user_knowledge_stats.html" %}
{% endwith %}
{%if model.user %}
	{% with userstats=model.userstats title="{Your Scores}" %}
		{%include "user_knowledge_stats.html" %}
	{% endwith %}
	{% with userstats=model.greater_userstats title="{Users Ahead of You}" %}
		{%include "user_knowledge_stats.html" %}
	{% endwith %}
	{% with userstats=model.lesser_userstats title="{Users Behind You}" %}
		{%include "user_knowledge_stats.html" %}
	{% endwith %}
{%endif%}
{%include "ad.html" %}
{%include "google_analytics.html" %}
{%endblock%}