<P class="ad160x600">
{% if foo == 0 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-1.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 1 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-2.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 2 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-3.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 3 %}                       
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-4.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 4 %}                        
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-5.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 5 %}                        
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-6.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%} {%if foo == 6 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/160x600-7.gif" width="160" height="600" border="0" alt="Namecheap.com"></a><!--END  LINK -->
{%endif%}
</P>