{% if foo == 0 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-co-1.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 1 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-8.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 2 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-9.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 3 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-10.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 4 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-11.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->          
{%endif%} {%if foo == 5 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-12.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 6 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-13.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 7 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-1.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 8 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-2.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 9 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-3.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 10 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-4.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 11 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-5.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%} {%if foo == 12 %}
<!--BEGIN  LINK --><a href="Http://www.namecheap.com?aff=64677"><img src="http://files.namecheap.com/graphics/linkus/180x150-6.gif" height="150" width="180" border="0" alt="Namecheap"></a><!--END  LINK -->
{%endif%}