<form method="get" target="_blank" ACTION="http://order.1and1.com/dcjump">
<label for="domain_name" >Find out if domain "???" is available to register</label><br>
<input name="affiliate_id" value="299814" type="hidden"/>
<input id="domain_name" size="20" maxlength="500" name="domain" style="text-align:right;" type="text" value="" />
<select class="cta-send-data" name="tld">

<option value="com">.com</option>
<option value="net">.net</option>
<option value="org">.org</option>
<option value="info">.info</option>

<option value="us">.us</option>
<option value="name">.name</option>
<option value="biz">.biz</option>
<option value="cc">.cc</option>

<option value="tv">.tv</option>
<option value="ws">.ws</option>
<option value="mobi">.mobi</option>
</select>
<input type="submit" name="Submit" value="Check Availability" class="cta-send-data" />
</form>
